body {
  height: 100%;
}

h1 {
  margin-bottom: 50px;
}

.tipCoffeehouse div {
  margin: 30px;
}

.tipCoffeehouse input {
  padding: 5px 10px;
  width: 400px;
  color: rgb(100, 97, 97);
}

#coffee-form {
  text-align: start;
}

#coffee-form label {
  padding-right: 30px;
}

#adress-coffeehouse {
  margin-left: 57px;
}

@media (max-width: 846px) {
  #adress-coffeehouse {
    margin-left: 0px;
  }
}

.btn-addCoffeehouse {
  text-decoration: none;
  background-color: #fff;
  color:  #9F2B1F;
  height: 40px;
  border: 1px solid  #9F2B1F;
  border-radius: 8px;
}

.btn-addCoffeehouse:focus {
  outline-color: transparent;

}
.btn-addCoffeehouse:hover {
  background-color: #9F2B1F;
  color: #fff;
}

.tipCoffeehouse {
  padding-bottom: 50px;
  margin: 50px 100px;
  border-bottom: 2px solid #9F2B1F;

}

.new-coffeehouse p {
  font-size: 1.5625rem;
}

.new-coffeehouse tbody,
tr {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 1170px;
  color:#9F2B1F;
  font-size: 20px;
  margin: 10px 0;
}

#new-coffeehouse-item td {
  color: #000;
}

.delete {
  color: rgb(224, 224, 69);
  text-decoration: none;
}

/* Alerts */

.succes {
  background-color: green;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 0;
}

.error {
  background-color: #9F2B1F;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 0;
  transition: transform 2s;
}

